*{
  font-family: "sofia-pro", sans-serif;

}
:root {
  border: 10px  solid #1a1a1a;
  /* border-radius: 7px; */

  background-color: #F5F5F5;
  overflow-x: hidden;
  /* border-radius: 10px; */
  font-family: "sofia-pro", sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */
/* border: 1px solid red; */

/* font-family: "sofia-pro", sans-serif;
font-weight: 300;
font-style: normal;

font-family: "sofia-pro", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "sofia-pro", sans-serif;
font-weight: 500;
font-style: normal;

font-family: "sofia-pro", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "sofia-pro", sans-serif;
font-weight: 800;
font-style: normal;

font-family: "sofia-pro", sans-serif;
font-weight: 900;
font-style: normal; */

}
body{
  background-color:#1E1E1E;
}
a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}
hr{
  /* height: px; */
  color: #1E1E1E;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/* width: 100%; */
  /* height: 100svh; */
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1E1E1E;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
